In [132]:
import pandas as pd
import numpy as np
import math
from sklearn.linear_model import LinearRegression

In [133]:
filepath = '/content/test_scores.csv'
df = pd.read_csv(filepath)

In [107]:
df.head()

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83

In [134]:
def gradient_descent (x, y, learning_rate, iterations):
  w_curr = b_curr = 0
  assert len(x) == len(y)
  n = len(x)
  for i in range(iterations):
    y_pred = w_curr * x + b_curr
    cost = (1/n) * sum([val**2 for val in (y-y_pred)])
    wd = -(2/n) * sum(x * (y - y_pred))
    bd = - (2/n) * sum(y- y_pred)
    w_curr = w_curr - learning_rate * wd
    b_curr = b_curr - learning_rate * bd
    if i > 0 and math.isclose(cost, prev_cost, rel_tol = 1e-20):
      break
    prev_cost = cost  
    return w_curr, b_curr

In [109]:
x = np.array(df.math)
y = np.array(df.cs)

In [129]:
gradient_descent(x, y, 0.0001, 1000)

(0.9891800000000002, 0.013980000000000001)

In [130]:
def sklearn(df):
    model = LinearRegression()
    model.fit(df[['math']],df.cs)
    return model.coef_, model.intercept_

In [131]:
sklearn(df)

(array([1.01773624]), 1.9152193111569034)