In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [64]:
filepath = '/content/hiring.csv'
df = pd.read_csv(filepath)

In [82]:
#changing column names
new_cols = ['experience', 'test_score', 'interview_score', 'salary']
df.columns = new_cols

In [66]:
df.head(7)

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000

**DATA PREPROCESSING**

In [83]:
exp = df.experience

In [68]:
from word2number import w2n

In [69]:
exp = exp.apply(lambda x: w2n.word_to_num(x) if isinstance(x, str) else 0)

In [70]:
exp

0     0
1     0
2     5
3     2
4     7
5     3
6    10
7    11
Name: experience, dtype: int64

In [84]:
df.experience = exp

In [72]:
df.experience

0     0
1     0
2     5
3     2
4     7
5     3
6    10
7    11
Name: experience, dtype: int64

In [73]:
test_median = df['test_score'].median()

In [74]:
df.test_score.fillna(test_median, inplace=True)

In [75]:
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [76]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [79]:
model = linear_model.LinearRegression()

In [80]:
model.fit(x,y)

LinearRegression()

In [85]:
model.predict([[2,9,6]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])

In [87]:
model.predict([[12,10,10]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92002.18340611])